<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<link href="/common.css" rel="stylesheet">
	<link href="/board.css" rel="stylesheet">
	<title>게시판</title>
</head>
<body>
	<div class="guestbook" style="display: block;">
		<ul class="cont">
			<li>
				<p class="memo">
					This is running in [[${hostDto.name}]]([[${hostDto.ip}]])xxx
				</p>
			</li>
		</ul>
	</div>
	
	<h4 class="g-top">com.plutozone.demo.springBoot by IntelliJ + Maven</h4>
	<div class="top-img">
		<img src="/bg-board.jpg" alt="">
	</div>
	<form action="/board/writeProc.web" method="post" id="frmMain" enctype="multipart/form-data">
		<div class="g-cont">
			<ul>
				<li class="name">
					<label>
						<input name="mbr_nm" type="text" maxlength="20" placeholder="이름" class="form-control">
					</label>
				</li>
				<li class="msg">
					<label>
						<textarea name="content" maxlength="200" placeholder="내용을 입력해주세요" class="form-control" rows="3"></textarea>
					</label>
				</li>
				<li>파일첨부<input type="file" name="uploadingFile"></li>
			</ul>
			<p class="btn btn-lg" onclick="document.getElementById('frmMain').submit();">게시물 남기기</p>
		</div>
	</form>

	<div class="guestbook" style="display: block;">
		<ul class="cont">
			<li th:each="board : ${boardList}">
				<p class="name" th:text="${board.mbr_nm}"></p>
				<p class="date"  th:text="${board.dt_reg}"></p>
				<a href="/board/modifyForm.web"><p class="memo"  th:text="${board.content}"></p></a>
				첨부파일: <a th:href="@{'/downloadFile/' + ${board.file_save}}" th:text="${board.file_save}"></a>
			</li>
		</ul>
	</div>
</body>
</html>