<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<th:block th:replace="~{/include/header}"></th:block>
	<script>
		/**
		 * @param seq_brd 게시글 일련번호
		 *
		 * @since 2025-01-01
		 * <p>DESCRIPTION:</p>
		 * <p>IMPORTANT:</p>
		 * <p>EXAMPLE:</p>
		 */
		function modifyForm(seq_brd) {
			document.getElementById("seq_brd").value = seq_brd;
			document.getElementById("frmMain").action = "/board/modifyForm.web";
			
			document.getElementById("frmMain").submit();
		}
		
		/**
		 *
		 * @since 2025-01-01
		 * <p>DESCRIPTION:</p>
		 * <p>IMPORTANT:</p>
		 * <p>EXAMPLE:</p>
		 */
		function checkSubmit() {
			if (document.getElementById("mbr_nm").value == "") {
				alert("이름을 입력하세요!");
				return;
			}
			if (document.getElementById("content").value == "") {
				alert("내용을 입력하세요!");
				return;
			}
			document.getElementById("frmMain").submit();
		}
	</script>
</head>
<body>
<form action="/board/writeProc.web" method="POST" id="frmMain" enctype="multipart/form-data">
<input type="hidden" name="seq_brd" id="seq_brd" value="0" />
<div class="container">
	<header>
		com.plutozone.demo.springBoot at This is running in [[${hostDto.name}]]([[${hostDto.ip}]])
	</header>
	<nav>
		<a href="/">메인</a> | <a href="/board/list.web">게시판</a>
	</nav>
	<section class="content">
		<nav></nav>
		<article class="txtLeft">
			<ul>
				<li th:each="boardDto : ${boardList}">
					[[${boardDto.mbr_nm}]] at [[${boardDto.dt_reg}]]
					<a th:href="'javascript:modifyForm(' + ${boardDto.seq_brd} + ');'"><p th:text="${boardDto.content}"></p></a>
					<th:block th:if="${boardDto.file_save != ''}">
						첨부 파일: <a th:href="@{'/downloadFile/' + ${boardDto.file_save}}" th:text="${boardDto.file_save}"></a>
					</th:block>
				</li>
			</ul>
		</article>
		<article class="txtCenter">
			<ul style="text-align: left;">
				<li>
					<label>
						<input id="mbr_nm" name="mbr_nm" type="text" maxlength="8" placeholder="이름">
					</label>
				</li>
				<li>
					<label>
						<textarea id="content" name="content" maxlength="256" rows="3" placeholder="내용을 입력해주세요"></textarea>
					</label>
				</li>
				<li>
					파일 첨부 <input type="file" name="uploadingFile">
				</li>
				<li style="text-align: center;">
					<a href="javascript:checkSubmit();">[게시물 남기기]</a>
				</li>
			</ul>
		</article>
		<article class="txtRight"></article>
		<aside></aside>
	</section>
	<footer>
		<th:block th:replace="~{/include/footer}"></th:block>
	</footer>
</div>
</form>
</body>
</html>