<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<th:block th:replace="~{include/header}"></th:block>
</head>
<body>
<form id="frmMain" method="POST">
<div class="container">
	<header>
		com.plutozone.demo.springBoot
	</header>
	<nav>
		<th:block th:replace="~{include/gnb}"></th:block>
	</nav>
	<section class="content">
		<nav></nav>
		<article class="txtLeft"></article>
		<article class="txtCenter">[[${boardDto.seq_brd}]]</article>
		<article class="txtRight"></article>
		<aside></aside>
	</section>
	<footer>
		<th:block th:replace="~{include/footer}"></th:block>
	</footer>
</div>
</form>
</body>
</html>