<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plutozone.board.mapper.BoardMpp">
	<select id="selectAll" resultType="com.plutozone.board.dto.BoardDto">
		SELECT
			MBR_NM
			, CONTENT
			, FILE_NM
			, DT_REG
		FROM
			TB_BRD
		ORDER BY
			SEQ_BRD DESC
    </select>

    <insert id="insert" parameterType="com.plutozone.board.dto.BoardDto">
		INSERT INTO TB_BRD
			(MBR_NM, CONTENT, FILE_NM, DT_REG)
		VALUES
			(#{mbr_nm}, #{content}, #{file_nm}, NOW())
    </insert>
</mapper>