<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
	<meta charset="UTF-8">
	<link href="/common.css" rel="stylesheet">
	<link href="/board.css" rel="stylesheet">
	<title>게시판-에러</title>
</head>
<body>
	<div class="guestbook" style="display: block;">
		<ul class="cont">
			<li>
				<p class="memo">
					<!--/*
					[2025-01-01][pluto#plutozone.com][TODO: ERROR Page 등]
					Health Check: Some internal error has occurred in [[${hostDto.name}]]([[${hostDto.ip}]])
					*/-->
					Health Check: Some internal error has occurred in HOSTNAME(IP)
				</p>
			</li>
		</ul>
	</div>
</body>
</html>