<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<th:block th:replace="~{/include/header}"></th:block>
</head>
<body>
<form id="frmMain" method="POST">
<div class="container">
	<header>
		com.plutozone.demo.springBoot
	</header>
	<nav>
		<a href="/">메인</a> | <a href="/board/list.web">게시판</a>
	</nav>
	<section class="content">
		<nav></nav>
		<article class="txtLeft"></article>
		<article class="txtCenter">
			<!--/*
			[2025-01-01][pluto#plutozone.com][TODO-필수: 사용자 정의 에러 페이지 vs. Thymeleaf]
			Some internal error has occurred in [[${hostDto.name}]]([[${hostDto.ip}]])
			*/-->
			<h1>Error</h1>
			<p th:text="${status}"></p>
			<p th:text="${error}"></p>
			<p th:text="${message}"></p>
		</article>
		<article class="txtRight"></article>
		<aside></aside>
	</section>
	<footer>
		<th:block th:replace="~{/include/footer}"></th:block>
	</footer>
</div>
</form>
</body>
</html>